/vender/
/node_modules/
/storage/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*

/public/build/
/public/hot

/coverage/
/.phpunit.result.cache
/.phpunit.cache

.env.db.development
.env

*.log
